-e git+https://github.com/meren/anvio.git@bf1ca6dc41462eb1cee66fa2450653010756c665#egg=anvio-master
attrs==17.4.0
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pluggy==0.6.0
py==1.5.2
pytest==3.4.1
six==1.11.0
Werkzeug==0.14.1
wheel==0.24.0
